nifi/MADLERT_v1.0.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>1780160f-016a-1000-4927-9a8866384b57</groupId>
    <name>MADLERT v1.0</name>
    <snippet>
        <controllerServices>
            <id>103186cf-8616-34ae-0000-000000000000</id>
            <parentGroupId>55934d1b-1694-3aa0-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>
                        <name>csv-reader-csv-parser</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>
                        <name>CSV Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>
                        <name>Value Separator</name>
                    </value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>
                        <name>Skip Header Line</name>
                    </value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>
                        <name>ignore-csv-header</name>
                    </value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>
                        <name>Quote Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>
                        <name>Escape Character</name>
                    </value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                    <value>
                        <name>Comment Marker</name>
                    </value>
                </entry>
                <entry>
                    <key>Null String</key>
                    <value>
                        <name>Null String</name>
                    </value>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>
                        <name>Trim Fields</name>
                    </value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>
                        <name>csvutils-character-set</name>
                    </value>
                </entry>
            </descriptors>
            <name>CSVReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>a562a4ec-24a9-3f14-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>csv-reader-csv-parser</key>
                    <value>commons-csv</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>CSV Format</key>
                    <value>custom</value>
                </entry>
                <entry>
                    <key>Value Separator</key>
                    <value>,</value>
                </entry>
                <entry>
                    <key>Skip Header Line</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>ignore-csv-header</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>Quote Character</key>
                    <value>"</value>
                </entry>
                <entry>
                    <key>Escape Character</key>
                    <value>\</value>
                </entry>
                <entry>
                    <key>Comment Marker</key>
                </entry>
                <entry>
                    <key>Null String</key>
                </entry>
                <entry>
                    <key>Trim Fields</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>csvutils-character-set</key>
                    <value>UTF-8</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.csv.CSVReader</type>
        </controllerServices>
        <controllerServices>
            <id>10fb1bf5-6ad2-3817-0000-000000000000</id>
            <parentGroupId>55934d1b-1694-3aa0-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>schema-name</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>a562a4ec-24a9-3f14-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>never-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-array</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>a562a4ec-24a9-3f14-0000-000000000000</id>
            <parentGroupId>55934d1b-1694-3aa0-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>
                        <name>avro-reg-validated-field-names</name>
                    </value>
                </entry>
                <entry>
                    <key>users</key>
                    <value>
                        <name>users</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroSchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>true</value>
                </entry>
                <entry>
                    <key>users</key>
                    <value>{
  "type": "record",
  "name": "UserRecord",
  "fields" : [
    {"name": "PROVINCIA", "type": ["null", "string"]},
    {"name": "MUNICIPIO", "type": ["null", "string"]},
    {"name": "ESTACION", "type": ["null", "string"]},
    {"name": "MAGNITUD", "type": ["null", "string"]},
    {"name": "PUNTO_MUESTREO", "type": ["null", "string"]},
	{"name": "NA", "type": ["null", "string"]},
    {"name": "ANO", "type": ["null", "string"]},
    {"name": "MES", "type": ["null", "string"]},
    {"name": "DIA", "type": ["null", "string"]},
    {"name": "H01", "type": ["null", "string"]},
    {"name": "V01", "type": ["null", "string"]},
    {"name": "H02", "type": ["null", "string"]},
    {"name": "V02", "type": ["null", "string"]},
    {"name": "H03", "type": ["null", "string"]},
    {"name": "V03", "type": ["null", "string"]},
    {"name": "H04", "type": ["null", "string"]},
    {"name": "V04", "type": ["null", "string"]},
    {"name": "H05", "type": ["null", "string"]},
    {"name": "V05", "type": ["null", "string"]},
    {"name": "H06", "type": ["null", "string"]},
    {"name": "V06", "type": ["null", "string"]},
    {"name": "H07", "type": ["null", "string"]},
    {"name": "V07", "type": ["null", "string"]},
    {"name": "H08", "type": ["null", "string"]},
    {"name": "V08", "type": ["null", "string"]},
    {"name": "H09", "type": ["null", "string"]},
    {"name": "V09", "type": ["null", "string"]},
    {"name": "H10", "type": ["null", "string"]},
    {"name": "V10", "type": ["null", "string"]},
    {"name": "H11", "type": ["null", "string"]},
    {"name": "V11", "type": ["null", "string"]},
    {"name": "H12", "type": ["null", "string"]},
    {"name": "V12", "type": ["null", "string"]},
    {"name": "H13", "type": ["null", "string"]},
    {"name": "V13", "type": ["null", "string"]},
    {"name": "H14", "type": ["null", "string"]},
    {"name": "V14", "type": ["null", "string"]},
    {"name": "H15", "type": ["null", "string"]},
    {"name": "V15", "type": ["null", "string"]},
    {"name": "H16", "type": ["null", "string"]},
    {"name": "V16", "type": ["null", "string"]},
    {"name": "H17", "type": ["null", "string"]},
    {"name": "V17", "type": ["null", "string"]},
    {"name": "H18", "type": ["null", "string"]},
    {"name": "V18", "type": ["null", "string"]},
    {"name": "H19", "type": ["null", "string"]},
    {"name": "V19", "type": ["null", "string"]},
    {"name": "H20", "type": ["null", "string"]},
    {"name": "V20", "type": ["null", "string"]},
    {"name": "H21", "type": ["null", "string"]},
    {"name": "V21", "type": ["null", "string"]},
    {"name": "H22", "type": ["null", "string"]},
    {"name": "V22", "type": ["null", "string"]},
    {"name": "H23", "type": ["null", "string"]},
    {"name": "V23", "type": ["null", "string"]},
    {"name": "H24", "type": ["null", "string"]},
    {"name": "V24", "type": ["null", "string"]}
  ]
}</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <processGroups>
            <id>40ae641b-c5d2-34d2-0000-000000000000</id>
            <parentGroupId>55934d1b-1694-3aa0-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>1.376059323991683</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>38e973ef-9f0a-3858-0000-000000000000</id>
                    <parentGroupId>40ae641b-c5d2-34d2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>771.3142046428363</x>
                        <y>79.5097044517156</y>
                    </bends>
                    <bends>
                        <x>771.3142046428363</x>
                        <y>129.5097044517156</y>
                    </bends>
                    <destination>
                        <groupId>40ae641b-c5d2-34d2-0000-000000000000</groupId>
                        <id>8d3d0a68-0ed8-3eeb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>40ae641b-c5d2-34d2-0000-000000000000</groupId>
                        <id>8d3d0a68-0ed8-3eeb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>577113ed-7d6b-3ba3-0000-000000000000</id>
                    <parentGroupId>40ae641b-c5d2-34d2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>40ae641b-c5d2-34d2-0000-000000000000</groupId>
                        <id>60bd93af-d8b4-31e0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Original</selectedRelationships>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>40ae641b-c5d2-34d2-0000-000000000000</groupId>
                        <id>8d3d0a68-0ed8-3eeb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>fd5264c6-46e8-3ada-0000-000000000000</id>
                    <parentGroupId>40ae641b-c5d2-34d2-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>790.7175026581414</x>
                        <y>310.8992349444932</y>
                    </bends>
                    <bends>
                        <x>790.7175026581414</x>
                        <y>360.8992349444932</y>
                    </bends>
                    <destination>
                        <groupId>40ae641b-c5d2-34d2-0000-000000000000</groupId>
                        <id>60bd93af-d8b4-31e0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>40ae641b-c5d2-34d2-0000-000000000000</groupId>
                        <id>60bd93af-d8b4-31e0-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>60bd93af-d8b4-31e0-0000-000000000000</id>
                    <parentGroupId>40ae641b-c5d2-34d2-0000-000000000000</parentGroupId>
                    <position>
                        <x>327.71750265814137</x>
                        <y>270.8992349444932</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-1-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>localhost:9092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>raw-weather</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>0</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>weather</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka_1_0</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                </processors>
                <processors>
                    <id>8d3d0a68-0ed8-3eeb-0000-000000000000</id>
                    <parentGroupId>40ae641b-c5d2-34d2-0000-000000000000</parentGroupId>
                    <position>
                        <x>308.31420464283633</x>
                        <y>39.509704451715606</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>https://api.darksky.net/forecast/6ece3b408a49bf97ef08309d05355930/40.4167,-3.7037?exclude=minutely,hourly,daily,flags,alerts&amp;units=si</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>20 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 * * ? * *</schedulingPeriod>
                        <schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetRawWeather</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
            </contents>
            <name>MadridWeather</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>515365f0-048d-3a59-0000-000000000000</id>
            <parentGroupId>55934d1b-1694-3aa0-0000-000000000000</parentGroupId>
            <position>
                <x>22.05425572376953</x>
                <y>258.75827348297724</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0d4b8eae-ea90-37a5-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>989.7529253459613</x>
                        <y>61.986450057184356</y>
                    </bends>
                    <bends>
                        <x>989.7529253459613</x>
                        <y>111.98645005718436</y>
                    </bends>
                    <destination>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>fc471680-321b-355b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>fc471680-321b-355b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1cb5698c-2fe8-3e3b-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>f155d469-5b82-3f02-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>fca2bf97-b156-3356-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>22c9f52c-16a7-39bd-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>407.7414344671779</x>
                        <y>67.1660002811056</y>
                    </bends>
                    <bends>
                        <x>407.7414344671779</x>
                        <y>117.1660002811056</y>
                    </bends>
                    <destination>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>c3cd8fa5-4012-3bb1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>c3cd8fa5-4012-3bb1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>248f4498-34b8-399a-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>448.6770605805614</x>
                        <y>388.1602690424006</y>
                    </bends>
                    <bends>
                        <x>448.6770605805614</x>
                        <y>438.1602690424006</y>
                    </bends>
                    <destination>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>7af2b337-4a59-3be9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>0</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>7af2b337-4a59-3be9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>486e601f-a155-34cf-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>c3cd8fa5-4012-3bb1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Original</selectedRelationships>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>fc471680-321b-355b-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>48deb20b-e9e3-3702-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>fca2bf97-b156-3356-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>7af2b337-4a59-3be9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>790ea2dc-40e8-3735-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1125.4825173065788</x>
                        <y>618.9392740069932</y>
                    </bends>
                    <bends>
                        <x>1125.4825173065788</x>
                        <y>668.9392740069932</y>
                    </bends>
                    <destination>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>f155d469-5b82-3f02-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>f155d469-5b82-3f02-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d24d6525-17a2-3291-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>e985c01e-8f92-39e8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>c3cd8fa5-4012-3bb1-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ef63a757-3f33-3322-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>7af2b337-4a59-3be9-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>e985c01e-8f92-39e8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f8bc60a3-51fa-3474-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>546.0928242715422</x>
                        <y>618.9626580851146</y>
                    </bends>
                    <bends>
                        <x>546.0928242715422</x>
                        <y>668.9626580851146</y>
                    </bends>
                    <destination>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>fca2bf97-b156-3356-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>515365f0-048d-3a59-0000-000000000000</groupId>
                        <id>fca2bf97-b156-3356-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>7af2b337-4a59-3be9-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <position>
                        <x>-14.322939419438626</x>
                        <y>348.1602690424006</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>103186cf-8616-34ae-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>10fb1bf5-6ad2-3817-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertRecord - CSVtoJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                </processors>
                <processors>
                    <id>c3cd8fa5-4012-3bb1-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <position>
                        <x>-55.258565532822104</x>
                        <y>27.166000281105596</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(^.*$) </value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>PROVINCIA,MUNICIPIO,ESTACION,MAGNITUD,PUNTO_MUESTREO,NA,ANO,MES,DIA,H01,V01,H02,V02,H03,V03,H04,V04,H05,V05,H06,V06,H07,V07,H08,V08,H09,V09,H10,V10,H11,V11,H12,V12,H13,V13,H14,V14,H15,V15,H16,V16,H17,V17,H18,V18,H19,V19,H20,V20,H21,V21,H22,V22,H23,V23,H24,V24
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Prepend</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>e985c01e-8f92-39e8-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <position>
                        <x>-554.5460357901356</x>
                        <y>106.664858393619</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>
    <name>schema.name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>users</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>Add Schema Name Attribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>f155d469-5b82-3f02-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <position>
                        <x>662.4825173065789</x>
                        <y>578.9392740069932</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-1-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>localhost:9092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>raw-air-quality</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>0</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>airQuality</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka_1_0</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                </processors>
                <processors>
                    <id>fc471680-321b-355b-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <position>
                        <x>526.7529253459613</x>
                        <y>21.986450057184356</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>https://datos.madrid.es/egob/catalogo/212531-7916318-calidad-aire-tiempo-real.txt</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>50 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>50 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 * * ? * *</schedulingPeriod>
                        <schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetRawAirQuality</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>fca2bf97-b156-3356-0000-000000000000</id>
                    <parentGroupId>515365f0-048d-3a59-0000-000000000000</parentGroupId>
                    <position>
                        <x>83.09282427154221</x>
                        <y>578.9626580851146</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.* </value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
            </contents>
            <name>MadridAirQuality</name>
            <variables/>
        </processGroups>
        <processGroups>
            <id>5b8db680-bc9b-3086-0000-000000000000</id>
            <parentGroupId>55934d1b-1694-3aa0-0000-000000000000</parentGroupId>
            <position>
                <x>451.06679412455446</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>32988562-47ca-3f37-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1506.3715384509824</x>
                        <y>159.34928037568045</y>
                    </bends>
                    <bends>
                        <x>1506.3715384509824</x>
                        <y>209.34928037568045</y>
                    </bends>
                    <destination>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>de62eacc-b65c-3fb8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>de62eacc-b65c-3fb8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>35a60de3-5e97-3955-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>4bfff434-647f-3d59-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>cfd1adb4-df31-359a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6a09d03b-a0a7-366f-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>de62eacc-b65c-3fb8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>4bfff434-647f-3d59-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6c7c42a2-3111-3378-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2082.4316750214225</x>
                        <y>71.03112428775489</y>
                    </bends>
                    <bends>
                        <x>2082.4316750214225</x>
                        <y>121.03112428775489</y>
                    </bends>
                    <destination>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>6180fd2a-72eb-3fc7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>6180fd2a-72eb-3fc7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7db22ae4-bb70-3767-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>cfd1adb4-df31-359a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Original</selectedRelationships>
                    <selectedRelationships>Response</selectedRelationships>
                    <source>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>8af8df09-1fb7-3499-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>85b3aa90-0529-3984-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>2012.5413362605605</x>
                        <y>-311.7774812172297</y>
                    </bends>
                    <bends>
                        <x>2012.5413362605605</x>
                        <y>-261.7774812172297</y>
                    </bends>
                    <destination>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>8af8df09-1fb7-3499-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>Failure</selectedRelationships>
                    <selectedRelationships>No Retry</selectedRelationships>
                    <selectedRelationships>Retry</selectedRelationships>
                    <source>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>8af8df09-1fb7-3499-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>96ef2dac-8466-3196-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1489.3079718189706</x>
                        <y>-306.3456051503323</y>
                    </bends>
                    <bends>
                        <x>1489.3079718189706</x>
                        <y>-256.3456051503323</y>
                    </bends>
                    <destination>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>cfd1adb4-df31-359a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>cfd1adb4-df31-359a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9ce554fe-5953-3f72-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>6180fd2a-72eb-3fc7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>de62eacc-b65c-3fb8-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cc36a13d-e243-340a-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1499.9178030994199</x>
                        <y>-68.30359743193674</y>
                    </bends>
                    <bends>
                        <x>1499.9178030994199</x>
                        <y>-18.303597431936737</y>
                    </bends>
                    <destination>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>4bfff434-647f-3d59-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>5b8db680-bc9b-3086-0000-000000000000</groupId>
                        <id>4bfff434-647f-3d59-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>4bfff434-647f-3d59-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <position>
                        <x>1036.9178030994199</x>
                        <y>-108.30359743193674</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>\n+\s+</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value></value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
                <processors>
                    <id>6180fd2a-72eb-3fc7-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <position>
                        <x>1619.4316750214225</x>
                        <y>31.031124287754892</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-1-0-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>bootstrap.servers</key>
<value>
    <name>bootstrap.servers</name>
</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>
    <name>security.protocol</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
<value>
    <name>sasl.kerberos.service.name</name>
</value>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
    <name>kerberos-credentials-service</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
<value>
    <name>sasl.kerberos.principal</name>
</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
<value>
    <name>sasl.kerberos.keytab</name>
</value>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl.context.service</name>
</value>
                            </entry>
                            <entry>
<key>topic</key>
<value>
    <name>topic</name>
</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>
    <name>acks</name>
</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>
    <name>use-transactions</name>
</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
<value>
    <name>attribute-name-regex</name>
</value>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>
    <name>message-header-encoding</name>
</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>
    <name>kafka-key</name>
</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>
    <name>key-attribute-encoding</name>
</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
<value>
    <name>message-demarcator</name>
</value>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>
    <name>max.request.size</name>
</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>
    <name>ack.wait.time</name>
</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>
    <name>max.block.ms</name>
</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>
    <name>partitioner.class</name>
</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>
    <name>compression.type</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>bootstrap.servers</key>
<value>localhost:9092</value>
                            </entry>
                            <entry>
<key>security.protocol</key>
<value>PLAINTEXT</value>
                            </entry>
                            <entry>
<key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
<key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
<key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
<key>ssl.context.service</key>
                            </entry>
                            <entry>
<key>topic</key>
<value>raw-traffic-density</value>
                            </entry>
                            <entry>
<key>acks</key>
<value>0</value>
                            </entry>
                            <entry>
<key>use-transactions</key>
<value>false</value>
                            </entry>
                            <entry>
<key>attribute-name-regex</key>
                            </entry>
                            <entry>
<key>message-header-encoding</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>kafka-key</key>
<value>trafficDensity</value>
                            </entry>
                            <entry>
<key>key-attribute-encoding</key>
<value>utf-8</value>
                            </entry>
                            <entry>
<key>message-demarcator</key>
                            </entry>
                            <entry>
<key>max.request.size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>ack.wait.time</key>
<value>5 secs</value>
                            </entry>
                            <entry>
<key>max.block.ms</key>
<value>5 sec</value>
                            </entry>
                            <entry>
<key>partitioner.class</key>
<value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
<key>compression.type</key>
<value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka_1_0</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_1_0</type>
                </processors>
                <processors>
                    <id>8af8df09-1fb7-3499-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <position>
                        <x>1549.5413362605605</x>
                        <y>-351.7774812172297</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>HTTP Method</key>
<value>
    <name>HTTP Method</name>
</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>
    <name>Remote URL</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>
    <name>Read Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>
    <name>Include Date Header</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
<value>
    <name>Attributes to Send</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
<value>
    <name>Basic Authentication Username</name>
</value>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
<value>
    <name>Basic Authentication Password</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>
    <name>Proxy Type</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
<value>
    <name>invokehttp-proxy-user</name>
</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
<value>
    <name>invokehttp-proxy-password</name>
</value>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
<value>
    <name>Put Response Body In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>
    <name>Max Length To Put In Attribute</name>
</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>
    <name>Digest Authentication</name>
</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>
    <name>Always Output Response</name>
</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
<value>
    <name>Trusted Hostname</name>
</value>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>
    <name>Add Response Headers to Request</name>
</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>
    <name>Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>
    <name>send-message-body</name>
</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>
    <name>Use Chunked Encoding</name>
</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>
    <name>Penalize on "No Retry"</name>
</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>
    <name>use-etag</name>
</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>
    <name>etag-max-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>HTTP Method</key>
<value>GET</value>
                            </entry>
                            <entry>
<key>Remote URL</key>
<value>https://datos.madrid.es/egob/catalogo/212117-7899005-trafico-calle30-general.xml</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>20 secs</value>
                            </entry>
                            <entry>
<key>Read Timeout</key>
<value>15 secs</value>
                            </entry>
                            <entry>
<key>Include Date Header</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>True</value>
                            </entry>
                            <entry>
<key>Attributes to Send</key>
                            </entry>
                            <entry>
<key>Basic Authentication Username</key>
                            </entry>
                            <entry>
<key>Basic Authentication Password</key>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                            <entry>
<key>Proxy Type</key>
<value>http</value>
                            </entry>
                            <entry>
<key>invokehttp-proxy-user</key>
                            </entry>
                            <entry>
<key>invokehttp-proxy-password</key>
                            </entry>
                            <entry>
<key>Put Response Body In Attribute</key>
                            </entry>
                            <entry>
<key>Max Length To Put In Attribute</key>
<value>256</value>
                            </entry>
                            <entry>
<key>Digest Authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Always Output Response</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Trusted Hostname</key>
                            </entry>
                            <entry>
<key>Add Response Headers to Request</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Content-Type</key>
<value>${mime.type}</value>
                            </entry>
                            <entry>
<key>send-message-body</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Use Chunked Encoding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Penalize on "No Retry"</key>
<value>false</value>
                            </entry>
                            <entry>
<key>use-etag</key>
<value>false</value>
                            </entry>
                            <entry>
<key>etag-max-cache-size</key>
<value>10MB</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 * * ? * *</schedulingPeriod>
                        <schedulingStrategy>CRON_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetRawTrafficDensity</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>No Retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Response</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>Retry</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                </processors>
                <processors>
                    <id>cfd1adb4-df31-359a-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <position>
                        <x>1026.3079718189706</x>
                        <y>-346.3456051503323</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>XSLT file name</key>
<value>
    <name>XSLT file name</name>
</value>
                            </entry>
                            <entry>
<key>xslt-controller</key>
<value>
    <identifiesControllerService>org.apache.nifi.lookup.StringLookupService</identifiesControllerService>
    <name>xslt-controller</name>
</value>
                            </entry>
                            <entry>
<key>xslt-controller-key</key>
<value>
    <name>xslt-controller-key</name>
</value>
                            </entry>
                            <entry>
<key>indent-output</key>
<value>
    <name>indent-output</name>
</value>
                            </entry>
                            <entry>
<key>secure-processing</key>
<value>
    <name>secure-processing</name>
</value>
                            </entry>
                            <entry>
<key>cache-size</key>
<value>
    <name>cache-size</name>
</value>
                            </entry>
                            <entry>
<key>cache-ttl-after-last-access</key>
<value>
    <name>cache-ttl-after-last-access</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>XSLT file name</key>
<value>/Users/n243985/nifi-1.9.2/xmlToJson.xml</value>
                            </entry>
                            <entry>
<key>xslt-controller</key>
                            </entry>
                            <entry>
<key>xslt-controller-key</key>
                            </entry>
                            <entry>
<key>indent-output</key>
<value>true</value>
                            </entry>
                            <entry>
<key>secure-processing</key>
<value>true</value>
                            </entry>
                            <entry>
<key>cache-size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>cache-ttl-after-last-access</key>
<value>60 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>TransformXml</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.TransformXml</type>
                </processors>
                <processors>
                    <id>de62eacc-b65c-3fb8-0000-000000000000</id>
                    <parentGroupId>5b8db680-bc9b-3086-0000-000000000000</parentGroupId>
                    <position>
                        <x>1043.3715384509824</x>
                        <y>119.34928037568045</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.2</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Regular Expression</key>
<value>
    <name>Regular Expression</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>
    <name>Replacement Value</name>
</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>
    <name>Replacement Strategy</name>
</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>
    <name>Evaluation Mode</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Regular Expression</key>
<value>(.*)</value>
                            </entry>
                            <entry>
<key>Replacement Value</key>
<value>${'$1':replace(" ","")}</value>
                            </entry>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Replacement Strategy</key>
<value>Regex Replace</value>
                            </entry>
                            <entry>
<key>Evaluation Mode</key>
<value>Entire text</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ReplaceText</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ReplaceText</type>
                </processors>
            </contents>
            <name>MadridTrafficDensity</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/02/2019 18:54:30 CEST</timestamp>
</template>
